.wrapper {
    min-height: 100vh;
    background-color: #f2f2f2;
}

.header, .main {
    width: 85%;
    margin: 0 auto;
}

.header {
    padding: 10px 0;

    &__title {
        margin-bottom: 30px;
        color: rgb(213 61 61);
        font-size: 36px;
    }

    .form {
        display: flex;
        justify-content: space-between;

        &-input {
            width: 85%;
            margin-right: 10px;
            color: #5c5c5c;
        }

        &-btn {
            width: 15%;
            color: #ffffff;
            background-color: #3bad3b;
        }

        &-btn:active {
            border-color: #38c545;
            box-shadow: 0 0 4px 1px #38c545;
        }
    }
}

.table {
    width: 100%;
    border-collapse: collapse;

    &-head {
        &__tr {
            text-align: left;
            border-top: solid 1px #e4dfdf;
            border-bottom: solid 2px #e4dfdf;
        }
        
        &__th {
            padding: 16px 10px;
            font-size: 18px;
        }

        &__th:nth-child(1), &__th:nth-child(2), &__th:nth-child(3) {
            width: 25%;
        }
    }

    &-body {
        tr:hover {
            background-color: #e4dfdf;
        }

        td {
            padding: 10px;
            border-top: solid 1px #e4dfdf;
        }

        .edit, .delete {
            padding: 10px 13px;
        }

        .edit {
            background-color: #ffc626;
        }

        .edit:active {
            border-color: #ffc626;
            box-shadow: 0 0 4px 1px #ffc626;
        }

        .delete {
            color: #ffffff;
            background-color: rgb(213 61 61);
        }

        .delete:active {
            border-color: rgb(213 61 61);
            box-shadow: 0 0 4px 1px rgb(213 61 61);
        }
    }
}

.modal-window {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.add-form {
    width: 600px;
    margin: 40px auto 0;
    background-color: #ffffff;
    border-radius: 5px;

    &__line {
        background-color: #e4dfdf;
        border: 1px solid #ffffff;
    }
}

.form-head {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    &__title {
        font-size: 22px;
    }

    &__close {
        color: #5c5c5c;
        font-size: 20px;
        line-height: 25px;
    }
}

.input-group {
    position: relative;
    padding: 20px 30px;

    input {
        width: 100%;
        margin-bottom: 20px;
    }
}

.form-footer {
    padding: 20px;
    text-align: right;

    &__btn {
        color: #ffffff;
        background-color: #007dff; 
    }

    &__btn:active {
        border-color: #007dff;
        box-shadow: 0 0 4px 1px #007dff;
    }
}

.error-message {
    position: absolute;
    left: 30px;
    bottom: 10px;
    color: rgb(213 61 61);
}