* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

input, button {
    padding: 11px 10px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #c9c9c9;
}

button:hover {
    cursor: pointer;
    filter: brightness(90%) saturate(90%);
}

.cursor:hover {
    cursor: pointer;
}

:focus-visible {
    outline: none;
    box-shadow: 0 0 5px 1px #61b3ff;
}